#share_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
button {
    margin-left: 0.8em;
    background-color: #2596be;
    padding: 0.5em;
    border: 0;
    box-shadow: none;
    border-radius: 0.2em;
}

p{
    margin-left: 1em;
}